/*Part 1*/
html, body {
    overflow-x: hidden;
}

/* header, main, footer {
    width: 100%;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

header {
    background-color: #d3b714;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

}

header #logo {
    width: 180px;
}

nav .navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav .navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    padding: 20px 10px;
    border-radius: 10px;
    transition: background 0.25s linear;
}

/* .navigation li:first-child {
    padding-left: 0;
} */

main {
    display: flex;
    flex-grow: 1;
}

section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article {
    text-align: center;
    padding: 20px 30px 0;
}

aside {
    display: flex;
    flex-basis: 210px;
    flex-shrink: 0;
    justify-content: center;
}

#aside1 {
    background-color: #c798b9;
    order: -1;
}

#aside2 {
    background-color: #9cb1c7;
}

footer {
    background-color: #86ec86;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Part 2*/
section h2 {
    text-align: center;
    text-transform: uppercase;
}

section .text-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: 0;
}


/*
.text-cards .card {
    width: 300px;
    height: 400px;
    border: 2px solid #8e8e8e;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: all 1s ease-out;
} */
.text-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #8e8e8e;
    border-radius: 20px;
    /* flex-basis: 330px;
    flex-grow: 1; */
    margin: 10px 5px;
    transition: 
        transform 1s ease-out,
        border-radius 1s ease-out,
        border 1s ease-out,
        background-color 1s ease-out,
        color 1s ease-out,
        min-width 0.5s ease-out;
    min-width: 200px;
    width: calc(100%/3 - 10px);
    box-sizing: border-box;
}

.card p {
    flex-grow: 1;
    text-align: center;
    margin: 15px;
}

.text-cards .image_cards {
    height: 90px;
    border: 8px solid #c7b7b7;
    border-radius: 50%;
    position: relative;
    margin: 25px 0;
    transition: all 1s ease-out;
}

.btn {
    width: 60px;
    height: 30px;
    border: 4px solid transparent;
    border-radius: 10px;
    display: block;
    margin: 0 auto 10px;
    background: #685174;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease-in-out;
}

/* :hover для карток*/
.text-cards .card:nth-child(odd):hover {
    transform: scale(1.1);
    box-shadow: 5px -5px 5px grey;
    border-radius: 40px;
    background-color: #685174;
    color: whitesmoke;
}

.text-cards .card:nth-child(even):hover {
    transform: scale(1.1);
    box-shadow: 5px -5px 5px grey;
    border-radius: 40px;
    background-color: #9cb1c7;
}


.card:hover .image_cards:hover {
    border-radius: 15px;
    border: 10px solid goldenrod;
    transform: rotateZ(90deg);
}

.card:hover .btn {
    border-color: white;
}

.card:hover .btn:hover {
    background-color: goldenrod;
    transform: scale(1.5);
    bottom: 15px;
}

/*Part 3*/
.holder {
    display: none;
    align-self: center;
    width: 450px;
    height: 150px;
    flex-wrap: wrap;
    border: 4px solid black;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    box-sizing: border-box;
}

.holder>.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
}

.holder>.item:first-child {
    background-color: #fd644d;
    width: 50%;
}

.holder>.item:nth-child(2) {
    background-color: #4983b2;
    order: 2;
    flex-grow: 1;
}

.holder>.item:nth-child(3) {
    background-color: #663797;
    order: 1;
    flex-grow: 1;
}

.holder>.item:nth-child(4) {
    background-color: #0e7f12;
    order: 3;
    flex-grow: 1;
}

.holder>.item:last-child {
    background-color: #fda429;
    width: 50%;
}

/*Part 2*/

#menu-toggle {
    opacity: 0.5;
    position: absolute;
    left: -9999px;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: sticky;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
}

.menu-btn>span::before {
    content: '';
    top: -10px;
}

.menu-btn>span::after {
    content: '';
    top: 10px;
}

/*Part 2*/

.menu-box {
    display: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    min-width: 33%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #e0cfb1;
    box-shadow: 1px 0 12px rgba(0, 0, 0, 2);
    transition: all 0.75s ease-in-out;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
.menu-item a{
    text-decoration: none;
    color: black;
}

.menu-item,
.menu-nav {
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.menu-nav a{
    text-decoration: none;
    color: black;
}


.menu-item:nth-child(odd):hover,
.navigation li:nth-child(odd):hover {
    background-color: #c798b9;
}
.menu-item:nth-child(even):hover,
.navigation li:nth-child(even):hover {
    background-color: #9cb1c7;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    transform: rotate(0deg);
    top: 0;
}

#menu-toggle:checked~.menu-btn>span::after {
    transform: rotate(90deg);
    top: 0;
}

#menu-toggle:checked~.menu-box {
    visibility: visible;
    right: 0;
    z-index: 1;
    opacity: 0.9;
}

#menu-toggle:checked~.menu-btn {
    position: fixed;
}



@media screen and (max-width: 880px) {
    main {
        /* background-color: greenyellow; */
        flex-direction: column;
    }

    #aside2 {
        border: 5px double black;
        border-radius: 5px;
        margin: 10px;
    }
    #aside1 {
        /* flex-basis: 150px; */
        border: 5px double black;
        border-radius: 5px;
        margin: 10px;
    }

}

@media screen and (max-width: 720px) {
    /* main {
        background-color: #9cb1c7;
    } */

    nav .navigation {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
    .text-cards .card {
        min-width: calc(50% - 10px);
    }
    .menu-box {
        display: block;
    }
}

@media (max-width: 576px) {
    /* main {
        background-color: #fd644d;
    } */

    .text-cards .card {
        min-width: calc(100% - 10px);
    }
    .holder {
        max-width: 100%;
        /* flex-shrink: 1; */
    }
}